.nav {
  height: 8rem;
  width: 100%;

  display: flex;
  align-items: center;

  background-color: $dark-blue;

  padding: 3.2rem;
}

.logo,
a:link,
a:visited {
  color: $light-gray;

  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
}
