.section-hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 4fr;
}

.hero-message {
  padding: 4.8rem 11.4rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-message h1 {
  font-weight: 700;
  font-size: 4.8rem;

  margin-bottom: 3.2rem;
}

.hero-message p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;

  opacity: 80%;

  margin-bottom: 4.8rem;
}

.hero-message button span {
  display: block;
}

.hero-message button span:nth-child(1) {
  font-weight: 500;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.hero-message button span:nth-child(2) {
  font-weight: 400;
  font-size: 1.6rem;
  opacity: 80%;
}

.hero-illustrations {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 4.8rem 9.6rem;
}

.illustration-selfie,
.illustration-laying {
  width: 70%;
  opacity: 90%;
}

.illustration-laying {
  width: 90%;
  justify-self: end;
  align-self: end;
}

.illustration-laying {
  align-self: end;
}
