.result-container {
  padding: 11.4rem 0rem;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.result-message {
  padding: 9.2rem 2.4rem;
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.result-message h1 {
  font-weight: 700;
  font-size: 4.8rem;

  margin-bottom: 3.2rem;
}

.result-message p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.4;

  opacity: 80%;

  margin-bottom: 4.8rem;
}

.result-message button span {
  display: block;
}

.result-message button span:nth-child(1) {
  font-weight: 500;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.result-message button span:nth-child(2) {
  font-weight: 400;
  font-size: 1.6rem;
  opacity: 80%;
}

.result-illustrations {
  padding: 4.8rem 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration-laying,
.illustration-selfie {
  width: 80%;
  opacity: 90%;
}
